.body {
    padding: 20px;
}

#posts-section {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.one-post-container {
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 10px;
}

.one-post-container:hover {
    border: 1px solid #ccc;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    box-shadow: 0px 0px 5px grey;
    -webkit-box-shadow: 0px 0px 5px grey;
    -moz-box-shadow: 0px 0px 5px grey;
    z-index: 2;
    cursor: pointer;
}

.one-post-likes-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.one-post-text {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.one-post-timestamp {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

.one-post-likes {
    margin-left: 5px;
}

.one-post-like-button, .one-post-edit-button,
#user-follow-button {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

#new-post-textarea, #edit-post-textarea {
    margin-top: 50px;
    margin-right: 20px
}

#new-post-button, #edit-post-button {
    border: 1px solid #ccc;
    background-color: #ccc;
}

#new-post-button:hover,
#edit-post-button:hover {
    background-color: white;
}

#new-post-section, #edit-post-section {
    text-align: center;
}

#new-post-form, #edit-post-form {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

h6 {
    margin-top:30px;
}